<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:debug>{_all}</f:debug>
<script>
    let trackingVars = {
        subsitesite: '<f:format.raw>{siteTitle}</f:format.raw>',
        pageTitle: '<f:format.raw>{pageTitle}</f:format.raw>',
        ku_faculty: '<f:format.raw>{ku_faculty}</f:format.raw>',
        pageLanguage: '<f:format.raw>{pageLanguage}</f:format.raw>',
        crdate: '<f:format.date>{data.crdate}</f:format.date>',
        lastModified: '<f:format.date>{data.SYS_LASTCHANGED}</f:format.date>',
        pagelayout: '<f:format.raw>{pagelayout}</f:format.raw>',
    };
</script>

</html>
