<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{settings.ku.siteName.enable} > 0">
    <div class="container root-sitename">
        <div class="row">
            <div class="col offset-md-3">
                <div class="sitename">
                    <f:link.page pageUid="{rootPage}" class="branding-name" tabindex="-1">{siteTitle}</f:link.page>
                </div>
            </div>
        </div>
    </div>
</f:if>

</html>
