//
// KU frame styling
//

:root {
    --frame-link-color: #{$ku_link-color};
    --frame-link-hover-color: #{$ku_link-hover-color};
}

.frame {
    &-ku-default-padding {
        padding: var(--frame-spacing);
    }
}
