//
// Scaffolding - global elements like sticky footer, etc.
//

:root {
    --box-text-light: #{$gridbox-text-light};
    --box-text-dark: #{$gridbox-text-dark};
    --red1: #{$red1};
    --red2: #{$red2};
    --red3: #{$red3};
    --blue1: #{$blue1};
    --blue2: #{$blue2};
    --blue3: #{$blue3};
    --teal1: #{$teal1};
    --teal2: #{$teal2};
    --teal3: #{$teal3};
    --green1: #{$green1};
    --green2: #{$green2};
    --green3: #{$green3};
    --grey1: #{$grey1};
    --grey2: #{$grey2};
    --grey3: #{$grey3};
    --white1: #{$white1};
    --white2: #{$white2};
    --white3: #{$white3};
}

// Include custom font:
@include font-face($ku-font, '#{$ku_prototype_public_path}Fonts/open-sans-v27-latin-ext_latin-300', 300, normal, woff2 woff);
@include font-face($ku-font, '#{$ku_prototype_public_path}Fonts/open-sans-v27-latin-ext_latin-400', 400, normal, woff2 woff);
@include font-face($ku-font, '#{$ku_prototype_public_path}Fonts/open-sans-v27-latin-ext_latin-600', 600, normal, woff2 woff);
@include font-face($ku-font, '#{$ku_prototype_public_path}Fonts/open-sans-v27-latin-ext_latin-700', 700, normal, woff2 woff);
@include font-face($ku-symbols, '#{$ku_prototype_public_path}Fonts/KU', 400, normal, woff2 woff ttf svg);

.extbase-debugger-floating {
    bottom: 0;
    position: fixed;
}

html,
body {
    height: 100%;
}

body {
    font-family: $ku-font, $font-family-base;
}

.body-bg {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.skippy {
    // Tab jump menu
    background-color: $gray-75;
    width: 100%;

    a {
        color: color-contrast($gray-75);
    }
}

#page-content {
    flex: 1 0 auto;
}

.lead {
    @include font-size(1rem);
    font-weight: 400;
}

@include media-breakpoint-up('sm') {
    .body-bg-top {
        padding-top: 160px;
    }
}
