<f:layout name="Default" />
<f:section name="main">
    <f:comment>
        <h3 class="title">
            <f:translate key="recenttweets" />
        </h3>
    </f:comment>
    <div class="error">
        <f:flashMessages />
    </div>
    <div class="stream-container">
        <div class="stream">
            <ol class="stream-items js-navigable-stream" id="stream-items-id">
                <f:for each="{tweets}" as="tweet" iteration="i">
                    <f:alias map="{orig_tweet: '{f:if(condition:tweet.retweeted_status,then:tweet.retweeted_status,else:tweet)}'}">
                        <li class="stream-item">
                            <div class="tweet">
                                <div class="content">
                                    <div class="stream-item-header">
                                        <f:link.external uri="https://twitter.com/{orig_tweet.user.screen_name}" class="account-group" target="_blank" rel="noopener noreferrer">
                                            <img src="{orig_tweet.user.profile_image_url_https}" class="avatar" alt="" />
                                            <div class="fullname">{orig_tweet.user.name}</div>
                                            <span class="username" data-aria-label-part=""><span class="screenname">@{orig_tweet.user.screen_name}</span></span>
                                        </f:link.external>
                                    </div>
                                    <div class="js-tweet-text-container">
                                        <f:if condition="{orig_tweet.in_reply_to_screen_name}">
                                            <div class="ReplyingToContextBelowAuthor">
                                                <f:translate key='LLL:EXT:ku_prototype/Resources/Private/Language/Extensions/locallang_twitter.xml:replyingto' /><a href='https://twitter.com/{orig_tweet.in_reply_to_screen_name}' target="_blank" rel="noopener noreferrer"><span class="screenname">@{orig_tweet.in_reply_to_screen_name}</span></a></div>
                                        </f:if>
                                        <f:format.html>{tweet.text}</f:format.html>
                                    </div>
                                    <small class="time">
                                        <f:link.external uri="https://twitter.com/{orig_tweet.user.screen_name}/status/{orig_tweet.id_str}" target="_blank" rel="noopener noreferrer">
                                            <f:if condition="{settings.dateFormat}=='ago'">
                                                <f:then>{tweet.created_at}</f:then>
                                                <f:else>
                                                    <f:format.date format="j">{tweet.created_at}</f:format.date>.
													<f:translate key="<f:format.date format='%m'>{tweet.created_at}</f:format.date>" />
                                                    <f:format.date format="Y">{tweet.created_at}</f:format.date>
                                                </f:else>
                                            </f:if>
                                        </f:link.external>
                                    </small>
                                    <f:if condition="{tweet.retweeted_status}">
                                        <div class="cwtw-Retweet">
                                            <span class="bi bi-reply-all-fill" aria-hidden="true"></span>
                                            <f:translate key="LLL:EXT:ku_prototype/Resources/Private/Language/Extensions/locallang_twitter.xml:retweeted_by" />
                                            <f:link.external uri="https://twitter.com/{tweet.user.screen_name}" target="_blank" rel="noopener noreferrer">{tweet.user.name}</f:link.external>
                                        </div>
                                    </f:if>
                                    <div class="stream-item-footer">
                                        <ul class="tweetactions">
                                            <f:if condition="{settings.reply}">
                                                <li class="tweetaction">
                                                    <f:link.external uri="https://twitter.com/intent/tweet?in_reply_to={tweet.id_str}" class="tweetaction tweetaction-reply" target="_blank" rel="noopener noreferrer">
                                                        <div class="icon icon-reply"><span class="bi bi-reply-fill" aria-hidden="true"></span></div>
                                                        <span class="tweetaction-stat">
                                                            <f:translate key='LLL:EXT:ku_prototype/Resources/Private/Language/Extensions/locallang_twitter.xml:tweets.reply' /></span>
                                                    </f:link.external>
                                                </li>
                                            </f:if>
                                            <f:if condition="{settings.retweet}">
                                                <li class="tweetaction">
                                                    <f:link.external uri="https://twitter.com/intent/retweet?tweet_id={tweet.id_str}" class="tweetaction tweetaction-retweet" target="_blank" rel="noopener noreferrer">
                                                        <div class="icon icon-retweet"><span class="bi bi-reply-all-fill" aria-hidden="true"></span></div>
                                                        <span class="tweetaction-stat">
                                                            <f:translate key='LLL:EXT:ku_prototype/Resources/Private/Language/Extensions/locallang_twitter.xml:tweets.retweet' />
                                                            <f:if condition="{tweet.retweet_count} > 0"> ({tweet.retweet_count})</f:if>
                                                        </span>
                                                    </f:link.external>
                                                </li>
                                            </f:if>
                                            <f:if condition="{settings.like}">
                                                <li class="tweetaction">
                                                    <f:link.external uri="https://twitter.com/intent/like?tweet_id={tweet.id_str}" class="tweetaction tweetaction-like" target="_blank" rel="noopener noreferrer">
                                                        <div class="icon icon-like"><span class="bi bi-star-fill" aria-hidden="true"></span></div>
                                                        <span class="tweetaction-stat">
                                                            <f:translate key='LLL:EXT:ku_prototype/Resources/Private/Language/Extensions/locallang_twitter.xml:tweets.like' />
                                                            <f:if condition="{tweet.favorite_count} > 0"> ({tweet.favorite_count})</f:if>
                                                        </span>
                                                    </f:link.external>
                                                </li>
                                            </f:if>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </f:alias>
                </f:for>
            </ol>
        </div>
    </div>
</f:section>
