<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{settings.ku.globalFooter.enable} > 0">
    <section class="section footer-section footer-section-content">
        <div class="container-md">
            <div class="section-row">
                <div class="section-column footer-section-content-column">
                    <f:if condition="{SiteFooterCol1}">
                        <f:format.raw>{SiteFooterCol1}</f:format.raw>
                    </f:if>
                </div>
                <div class="section-column footer-section-content-column">
                    <f:if condition="{SiteFooterCol2}">
                        <f:format.raw>{SiteFooterCol2}</f:format.raw>
                    </f:if>
                </div>
                <div class="section-column footer-section-content-column">
                    <f:if condition="{SiteFooterCol3}">
                        <f:format.raw>{SiteFooterCol3}</f:format.raw>
                    </f:if>
                </div>
                <div class="section-column footer-section-content-column">
                    <f:if condition="{SiteFooterCol4}">
                        <f:format.raw>{SiteFooterCol4}</f:format.raw>
                    </f:if>
                </div>
            </div>
        </div>
    </section>
</f:if>
</html>
