<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:variable name="footerLang">{footerLang}{f:if(condition: '{pageLanguage} == da', else:'EN_', then:'DA_')}</f:variable>

<f:if condition="{settings.ku.globalFooter.enable} > 0">
    <section class="section footer-section footer-section-content">
        <div class="container-md">
            <div class="section-row">
                <div class="section-column footer-section-content-column">
                    <f:cObject typoscriptObjectPath="lib.footerContent.{footerLang}colOne" />
                </div>
                <div class="section-column footer-section-content-column">
                    <f:cObject typoscriptObjectPath="lib.footerContent.{footerLang}colTwo" />
                </div>
                <div class="section-column footer-section-content-column">
                    <f:cObject typoscriptObjectPath="lib.footerContent.{footerLang}colThree" />
                </div>
                <div class="section-column footer-section-content-column">
                    <f:cObject typoscriptObjectPath="lib.footerContent.{footerLang}colFour" />
                </div>
            </div>
        </div>
    </section>
</f:if>

</html>
