<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{settings.ku.localFooter.enable} > 0">
    <section class="section section-default local-footer">
        <div class="container local-footer-container">
            <div class="row">
                <div class="col-md-4 footer-address">
                    <f:if condition="{lib.footerContent.{pageLanguage}_localFooterAddress !== ''}">
                        <f:cObject typoscriptObjectPath="lib.footerContent.{pageLanguage}_localFooterAddress" />
                    </f:if>
                    <f:if condition="{settings.ku.lastModified.enable} > 0">
                        <f:if condition="{data.SYS_LASTCHANGED}">
                            <f:translate key="LLL:EXT:ku_prototype/Resources/Private/Language/locallang.xlf:frontend.last-modified" />
                            <f:format.date format="{f:translate(key: 'dateformat', extensionName: 'ku_prototype')}">{data.SYS_LASTCHANGED}</f:format.date>
                        </f:if>
                    </f:if>
                </div>
                <div class="col-md-4 offset-md-4 footer-data">
                    <f:translate key="LLL:EXT:ku_prototype/Resources/Private/Language/locallang.xlf:frontend.contact" />:<br>
                    <f:if condition="{lib.footerContent.{pageLanguage}_localFooterContact !== ''}">
                        <f:then>
                            <f:cObject typoscriptObjectPath="lib.footerContent.{pageLanguage}_localFooterContact" />
                        </f:then>
                        <f:else>
                            <f:format.raw>
                                <ku:AuthorName authorUid="{data.cruser_id}" />
                            </f:format.raw>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
    </section>
</f:if>

</html>
