//
// Extension: KU Image with overlay
//

// Custom styling
:root {
    --overlay-btn-bg: #{$btn-overlay};
}

.image-with-overlay {
    position: relative;

    .image-with-overlay-box {
        padding: 1rem;
    }

    .image-with-overlay-text {
        font-weight: 600;
    }

    .btn-overlay {
        @include button-variant($btn-overlay, $btn-overlay, $white, #{shade-color($btn-overlay, 10%)}, #{shade-color($btn-overlay, 10%)}, $white);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .7px;
        margin-top: 1rem;

        &::after {
            display: inline-block;
            font-size: 80%;
            font-weight: 400;
            vertical-align: text-bottom;
            margin-left: 1rem;
            right: 1rem;
            @extend .ku-icon;
            content: "\61";
        }


        @include media-breakpoint-down('lg') {
            display: block;
            text-align: left;
            position: relative;


            &::after {
                display: inline-block;
                font-size: 80%;
                vertical-align: text-bottom;
                margin-left: 1rem;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
            }
        }
    }

    @include media-breakpoint-up('lg') {
        .image-with-overlay-textposition {
            position: absolute;
            top: 13%;
            right: 6%;
            max-width: 50%;
            text-align: right;
        }

        .image-with-overlay-box {
            display: inline;
            padding: 0;
        }

        .image-with-overlay-text>span {
            font-size: 1.75rem;
            line-height: 1.6;
            background-color: var(--overlay-background);
            color: var(--overlay-text-color);
            box-shadow: -10px 0px 0 6px var(--overlay-background),
                10px 0px 0 6px var(--overlay-background),
                0 0 0 6px var(--overlay-background);
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
        }

        .overlay-buttons {
            position: absolute;
            bottom: 5%;
            left: 5%;
        }

        .btn-overlay {

            &+.btn-overlay {
                margin-left: 1rem;
            }
        }
    }
}
