//
// Breadcrumbs
//

// Reactivating image floating
.breadcrumb-section {
     &> .container {
         padding: 0;
     }
}

.breadcrumb-link {
    font-size: .9rem;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}