/* Plugin ns_twitter */

.stream,
.stream-container,
.stream-items {
    list-style: outside none none;
    margin-left: 0;
    position: relative;
}

.stream-item::before,
.stream-item::after {
    content: " ";
    display: table;
}

.stream .stream-item:first-child {
    border-top: 1px solid #e1e8ed;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.stream-item:not(.no-header-background-module) {
    background: #fff none repeat scroll 0 0 padding-box;
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
}

.stream-item {
    position: relative;
}

.stream .stream-item:first-child .tweet {
    border-top: 1px solid #e1e8ed;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.tweet {
    border-bottom: 1px solid #e1e8ed;
    cursor: pointer;
}

.account,
.tweet,
.app {
    border-bottom: 1px solid #e1e8ed;
    min-height: 51px;
    padding: 9px 12px;
    position: relative;
}

.stream-item .content,
.permalink-tweet .content {
    margin-left: 58px;
}

.stream-item-header .account-group {
  color: var(--bs-body-color);
  text-decoration: none;
}

.stream-item-header .account-group:hover {
  text-decoration: none;
}

.stream-item-header .avatar,
.permalink-header .avatar {
    float: left;
    margin-left: -58px;
    margin-top: 3px;
}

.account-summary:hover,
.account-summary:focus,
.account-group:focus {
    text-decoration: none;
}

.avatar {
    -moz-force-broken-image-icon: 1;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.fullname {
    font-weight: 700;
}

.account-group:hover .username,
.account-group:focus .username,
.account-summary:focus .username {
    color: #8899a6;
    text-decoration: none;
}

.username {
    direction: ltr;
    unicode-bidi: embed;
}

.username,
.time,
.time a {
    font-size: 13px;
}

s {
    text-decoration: none;
}

.tweet .js-tweet-text {
    white-space: pre-wrap;
}

.tweet p {
    overflow-wrap: break-word;
}

.TweetTextSize {
    font-size: 14px;
    line-height: 18px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.ReplyingToContextBelowAuthor {
    color: #757575;
    font-size: 12px;
    line-height: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/*Tweet Actions*/
.tweetactions .tweetaction {
    padding-right: 5px;
}
.stream-item-footer ul {
    margin-top: 8px;
    display: block;
    list-style: none;
    padding: 0px !important;
}

.stream-item-footer ul li {
    display: inline-block;
}

.stream-item-footer ul li a {
    color: #757575;
    text-decoration: none;
}

.stream-item-footer .tweetaction-reply:hover,
.stream-item-footer .tweetaction-reply:focus,
.stream-item-footer .tweetaction-reply:active {
    color: #2b7bb9;
}

.stream-item-footer .tweetaction-retweet:hover,
.stream-item-footer .tweetaction-retweet:focus,
.stream-item-footer .tweetaction-retweet:active {
    color: #4b8325;
}

.stream-item-footer .tweetaction-like:hover,
.stream-item-footer .tweetaction-like:focus,
.stream-item-footer .tweetaction-like:active {
    color: #E81C4F;
}

.stream-item-footer .icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}

.stream-item-footer .icon-reply {
    width: 1.07639em;
}

.stream-item-footer .icon-retweet {
    width: 1.28472em;
}

.tweet .bi-reply-all-fill::before {
    transform: rotateY(180deg);
}

.stream-item-footer .icon-like {
    width: .9375em;
}

.stream-item-footer .tweetaction-stat {
    font-size: 13px;
    vertical-align: text-bottom;
    display: inline-block;
    padding-left: 5px;
    vertical-align: baseline;
}

/*remove padding and add spacing between tweet*/
.stream-items {
    padding-left: 0;
}

.stream-items .stream-item {
    border-radius: 6px;
    border-top: 1px solid #E1E8ED;
    margin-bottom: 15px;
}

/**/
